<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Replayer.Core.v04.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Replayer.Core.v04.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <Replayer.Core.v04.Properties.Settings>
      <setting name="PrePlayDuration_Seconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KeyboardShortcutCharacterTimeout_sec" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DefaultCompilationLookupDirectory" serializeAs="String">
        <value/>
      </setting>
    </Replayer.Core.v04.Properties.Settings>
    <Replayer.Core.v04.Settings>
      <setting name="LastLoadedCompilationPath" serializeAs="String">
        <value/>
      </setting>
    </Replayer.Core.v04.Settings>
  </userSettings>
  <startup>


    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
