<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Replayer.WinForms.Ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Replayer.WinForms.Ui.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>

    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
  <userSettings>
    <Replayer.WinForms.Ui.Properties.Settings>
      <setting name="UiFont" serializeAs="String">
        <value>Arial, 18pt</value>
      </setting>
      <setting name="LastLoadedCompilationPath" serializeAs="String">
        <value/>
      </setting>
    </Replayer.WinForms.Ui.Properties.Settings>
    <Replayer.WinForms.Ui.Settings>
      <setting name="UiFont" serializeAs="String">
        <value>Arial, 14.25pt</value>
      </setting>
    </Replayer.WinForms.Ui.Settings>
  </userSettings>
</configuration>
